
<table>
  <h1>CALCULATOR</h1> 
  <tr>
    <td class="num">First Number</td>
    <td><input class="dataInput" type="text"#firstNum placeholder="Enter Number"></td>
  </tr>
  <tr>
    <td class="num">Second Number</td>
    <td><input class="dataInput" type="text" #secondNum  placeholder="Enter Number"></td>
  </tr>
  <tr>
    <td></td>
    <td class="center-content">
      <button (click)="add(firstNum.value,secondNum.value)">Add</button>
      <button (click)="subtract(firstNum.value,secondNum.value)">Subtract</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="center-content">
      <button (click)="multiply(firstNum.value,secondNum.value)">Multiply</button>
      <button (click)="divide(firstNum.value,secondNum.value)">Divide</button>
    </td>
  </tr>
  <tr>
    <td><b>{{resultName}}</b></td>
    <td><b>{{result}}</b></td>
  </tr>
</table>

